@import "./layout.scss";

//header 
header{
    .header-contact {
        padding:.2rem 3rem;
    }

    .header-separator {
        border-top: .1px solid $light-dark-color;
        margin: 0 3rem;
    }
   
    .header-main {
        padding: 2rem 3rem;
        .menu {
            display: none;
        }
        .border-vertical{
            border: 1px solid #D1D1D1;
            transform: rotate(180deg);
            height: 20px;
            margin-top: 15px;
        }
        .search-bar{
            background: #F9F9F9;
            border: 1px solid #D1D1D1;
            box-sizing: border-box;
            border-radius: 12px;
            .category-select{
                font-family: $primary-font;
                font-weight: bold;
                font-size: 15px;
                line-height: 22px;
                background-image: url("../images/icons/ic-chevron-down.svg")
            } 
            .search-text{
                font-size: 14px;
                line-height: 19px;
                font-family: $primary-font;
            }
        }
        .menu-item {
            color: $primary-font-color;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            &:focus{
                background-color: $primary-color !important;
                color: $light-color;
            }
        }
    }
    .search-bar-second {
        display: none !important;
    }
}

//navbar 

nav {
    padding: 1rem 3rem;
    background: #F9F9F9;
}

.nav-item{
    background: transparent;
    border: none;
    color: $primary-font-color;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    outline: none;
    &::after{
        color: $primary-color;
    }
    &:hover{
        background: transparent;
        color: $primary-font-color;
    }
    &:focus{
        background-color: transparent !important;
        box-shadow: none !important;
        color: $primary-font-color !important;
    }
}
.category-item {
    color: $primary-font-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    &:focus{
        background-color: $primary-color !important;
        color: $light-color;
    }
}

//sidebar 
aside {
    display: none;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 9999;
    // box-shadow: -2px 0 16px rgb(0 0 0 / 12%);
    .backdrop {
        -webkit-animation: fadeIn .3s;
        animation: fadeIn .3s;
        height: 100%;
        width: 100%;
        background: rgba(26,24,24,.5);
        position: absolute;
        top: 0;
        left: 0;
        -webkit-backdrop-filter: blur(1px);
        backdrop-filter: blur(1px);
        background: linear-gradient(45deg,transparent,rgba(10,10,10,.101961),transparent);
    }

    .sidebar-items {
        display: flex;
        color: $primary-font-color;
        // box-shadow: -2px 0 16px rgba(0 0 0 / 80%);
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        z-index: 9;
        position: relative;
        padding: 0 3vw;
        background: #F9F9F9;
        box-sizing: border-box;
        width: 20%;
        opacity: .98;
        min-width: 300px;
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        overflow-y: auto;
        .side-item {
            .nav-item{
                background: transparent;
                color: $primary-font-color;
                border: none;
            }
        }
    }
}

//tag 
.product-tag {
    background: $secondary-color;
    padding: 4px 10px;
    border-radius: 12px;
    display: inline-block;
    h6 {
      margin-bottom: 0;
      color: $primary-font-color;
      font-weight: 600;
    }
}

//responsive design 

@media (max-width:1021px) {
    header{
        .header-main {
            .menu{
                display: block;
            }
            border-bottom: .1px solid #F9F9F9;
        }
    }
    .nav-bar {
        display: none !important;
    }
    aside {
        display: flex;
        justify-content: flex-start;
    }
}

// button

.btn {
    border-radius:12px ;
    font-family: $primary-font;
    font-weight: bold;
    margin: .5rem;
}

.btn-primary {
    color: #fff;
    background-color: $primary-color;
    border:2px solid $dark-primary;
    padding: 12px;

    &:hover {
        background-color: $dark-primary;
        border-color: $dark-primary;
    }

    &:focus {
        background-color: $dark-primary;
        border-color: $dark-primary;
        box-shadow: 0 0 0 0.25rem rgba(145, 255, 102, 0.25);
    }
    
    &:disabled {
        background-color: $primary-color;
        border-color: $primary-color;
        outline: none;
    }
}

.btn-secondary {
    color: $primary-font-color !important;
    background-color: $secondary-color !important;
    border:2px solid $light-dark-color !important;
    font-family: $primary-font !important;
    padding: 12px;
    &:hover {
        background-color: $light-dark-color;
        border-color: $light-dark-color;
    }
    &:focus {
        background-color: $light-dark-color;
        border-color: $light-dark-color;
        box-shadow: 0 0 0 0.25rem rgba(236, 255, 228, 0.25);
    }
    &:disabled {
        background-color: $light-dark-color;
        border-color: $light-dark-color;
        outline: none;
    }
}

.cart-number {
    position: absolute;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    padding: 3px;
    left: 19px;
    font-size: 0.7rem;
    top: 11px;
}

//modal 
.modal-dialog {
    .modal-content {
        height: 90vh;
        .modal-header {
            .modal-title {
                font-family: $primary-font;
                font-weight: 600;
            }
        }
        .modal-body {
            &::-webkit-scrollbar{
                width: 6px;
            }
            &::-webkit-scrollbar-track {
                background: $light-color;
                border-radius: 8px;
              }
              
              /* Handle */
            &::-webkit-scrollbar-thumb {
                background: $light-dark-color;
                border-radius: 8px;
                visibility: hidden;
                transition: .7s ease-in;
            }

            &:hover {
                &::-webkit-scrollbar-thumb {
                    visibility: visible;
                }
            }
        }
    }
}

//dropdown 
.dropdown {
    button {
        border: none;
        background: none;
        padding: 0;
        margin: 0;
        &:hover {
            border: none;
            background: none;
        }
        &:active {
            border: none;
            background: none;
        }
        &:focus {
            border: none;
            background: none;
        }
    }
    .dropdown-toggle{
        border: none !important;
        background-color: transparent!important;
        &:focus {
            box-shadow: none !important;
        }
    }
}

// select-input

.select-wrapper{
    background: #F9F9F9;
    border: 1px solid #D1D1D1 !important;
    box-sizing: border-box;
    border-radius: 12px;
    padding: .5rem;
    .select-input {
        font-family: $primary-font;
        font-weight: bold;
        font-size: 15px;
        line-height: 22px;
        background-image: url("../images/icons/ic-chevron-down.svg") !important;
    }  
    .select-input:focus {
        border: 1px solid #D1D1D1 !important;
    }
}

//checkboxes 
.checkboxes {
    .form-check{
        display: flex;
        align-items: center;
        .form-check-input:checked{
            background-color: $primary-color;
            border-color: $primary-color;
        }
        .form-check-label {
            font-family: $primary-font;
            font-size: 14px;
            line-height: 19px;
            margin-left: 10px;
        }
    }
}

//textinput 
.text-input, .select-input {
    .form-label {
        font-family: $primary-font;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
    }
    .form-control, .form-select {
        background: #F9F9F9 !important;
        border: 1px solid #D1D1D1 !important;
        box-sizing: border-box;
        border-radius: 12px;
        font-size: 14px;
        line-height: 19px;
        font-family: $primary-font;
        padding: .75rem;
    }
    .form-select {
        background-image: url("../images/icons/ic-chevron-down.svg") !important;
        background-repeat: no-repeat !important;
        background-position: right !important;
    }
    .form-control:focus {
        box-shadow: 0 0 0 0.25rem rgba(145, 255, 102, 0.25);
    }
}

.input-error {
    border-color: $danger-color !important;
}

.error-message {
    font-size: 0.75rem;
    font-family: $primary-font;
    color: $danger-color !important;
}

//pagination 
.product-pagination {
    .pagination{
        .page-item {
            .page-link {
                font-family: $primary-font;
                color: $primary-color;
            }
        }
        .active {
            .page-link{
                background-color: $primary-color;
                border-color:$primary-color ;
                color: #fff;
            }
        }
    }
}
//card 

.card {
    border-radius: 12px;
    border: 1px solid #D1D1D1;
    img {
        border-radius: 12px;
    }
    .original-price {
        text-decoration: underline;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        text-decoration-line: line-through;
        color: #A9A9A9;
    }
}

//modal 
.confirm-content {
    height: auto !important;
    .modal-body {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
}

.discount-tag {
    left: 24px;
}

.breadcrumbs {
    nav {
        background: #fff;
    }
}

@media (max-width:445px) {
    .breadcrumbs {
        nav {
            padding: 1rem;
        }
    }
}

@media (max-width:800px) {
    header {
        .header-main{
            .search-bar-first {
                display: none !important;
            }
        }
        .search-bar-second {
            display: flex !important;
            background: #F9F9F9;
            .category-select{
                font-family: $primary-font;
                font-weight: bold;
                font-size: 15px;
                line-height: 22px;
                background-image: url("../images/icons/ic-chevron-down.svg")
            } 
            .search-text{
                font-size: 14px;
                line-height: 19px;
                font-family: $primary-font;
            }
        }
    }
    footer {
        .footer-nav {
            flex-direction: column;
        } 
    }
}

@media (max-width:600px) {
    header {
        .header-contact, 
        .header-separator {
            display: none !important;
        }
        .header-main {
            padding: 2rem 1rem;
            .cart-icon {
                margin-left: 8px;
            }
        }
    }
}

@media (max-width:570px) {
    header {
        .search-bar-second {
            .category-select {
                font-size: 12px;
            }
        }
        .search-bar-second {
            .search-text {
                font-size: 12px;
            }
        } 
    } 
}

//product card 

.product-card {
    transition: .4s ease-in-out;
    &:hover {
        transform: translateY(-10px);
    }
}

@media (max-width:460px) {
    .product-card {
        width: 100% !important;
    }
}

//primary blog card

.primary-blog-card {
    .blog-tag {
        left: 20px;
        top: 10px;
    }
    .blog1-img {
        filter: brightness(.5);
    }
    .blog-details {
        left: 20px;
        bottom: 10px;
    }
}

@media (max-width:420px) {
    .card {
        .blog-details{
            .blog-title{
                font-size: 14px;
                line-height: 20px;
            }
            .blog-add {
                img{
                    width: 20px;
                    height: 20px;
                }
            }
        }
        h6 {
            font-size: 10px;
        }
    }     
}

//loading

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}   
.lds-ripple {
    display: inline-block;
    position: relative;
    transform: translate(-50px,-50px);
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid $primary-color;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  

//error

@media (max-width:850px) {
    .error-page {
        img {
            width: 100%;
        }
    }
}
