@import "./vars";

//fonts
.font-lg {
  font-size: 4rem;
}
//overflow
.overflow-hidden {
  overflow: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-auto {
  overflow: auto;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

//wrapper
.wrapper {
  padding: 5vh $wrapper-val;
}

.wrapper-y {
  padding: 2vh 0;
}

.wrapper-x {
  padding: 0 $wrapper-val;
}
//positions
.sticky-top {
  position: sticky;
  top: 0;
}

.fixed-top {
  position: fixed;
  top: 0;
}

.top-most {
  top: 0;
}

.left-most {
  left: 0;
}

.right-most {
  right: 0;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
//overflow
.auto-scroll {
  overflow: auto;
}

.x-auto-scroll {
  overflow-x: auto;
}

.y-auto-scroll {
  overflow-y: auto;
}

@for $i from 1 through 12 {
  .z#{$i} {
    z-index: $i;
  }
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.full-vh {
  height: 100vh;
}
//paddings
.row {
  display: flex;
  flex-wrap: wrap;
}
.pa-xs {
  padding: $xs;
}

.pa-sm {
  padding: $sm;
}

.pa-md {
  padding: $md;
}

.pa-lg {
  padding: $lg;
}

.pa-none {
  padding: 0;
}
.pa-xl {
  padding: $xl;
}

//padding-top
.pt-xs {
  padding-top: $xs;
}

.pt-sm {
  padding-top: $sm;
}

.pt-md {
  padding-top: $md;
}

.pt-lg {
  padding-top: $lg;
}

.pt-xl {
  padding-top: $xl;
}

//padding-right
.pr-xs {
  padding-right: $xs;
}

.pr-sm {
  padding-right: $sm;
}

.pr-md {
  padding-right: $md;
}

.pr-lg {
  padding-right: $lg;
}

.pr-xl {
  padding-right: $xl;
}

//padding-left
.pl-xs {
  padding-left: $xs;
}

.pl-sm {
  padding-left: $sm;
}

.pl-md {
  padding-left: $md;
}

.pl-lg {
  padding-left: $lg;
}

.pl-xl {
  padding-left: $xl;
}

//padding-bottom
.pb-xs {
  padding-bottom: $xs;
}

.pb-sm {
  padding-bottom: $sm;
}

.pb-md {
  padding-bottom: $md;
}

.pb-lg {
  padding-bottom: $lg;
}

.pb-xl {
  padding-bottom: $xl;
}

//padding-x
.px-xs {
  padding-right: $xs;
  padding-left: $xs;
}

.px-sm {
  padding-right: $sm;
  padding-left: $sm;
}

.px-md {
  padding-right: $md;
  padding-left: $md;
}

.px-lg {
  padding-right: $lg;
  padding-left: $lg;
}

.px-xl {
  padding-right: $xl;
  padding-left: $xl;
}

//padding-y
.py-xs {
  padding-top: $xs !important;
  padding-bottom: $xs !important;
}

.py-sm {
  padding-top: $sm;
  padding-bottom: $sm;
}

.py-md {
  padding-top: $md;
  padding-bottom: $md;
}

.py-lg {
  padding-top: $lg;
  padding-bottom: $lg;
}

.py-xl {
  padding-top: $xl !important;
  padding-bottom: $xl !important;
}

//margin

.ma-xs {
  margin: $xs;
}

.ma-sm {
  margin: $sm;
}

.ma-md {
  margin: $md;
}

.ma-lg {
  margin: $lg;
}

.ma-xl {
  margin: $xl;
}

//padding-top

.ma-none {
  margin: 0 !important;
}

.my-none {
  margin-top: 0;
  margin-bottom: 0;
}

.mt-xs {
  margin-top: $xs;
}

.mt-sm {
  margin-top: $sm;
}

.mt-md {
  margin-top: $md;
}

.mt-lg {
  margin-top: $lg;
}

.mt-xl {
  margin-top: $xl;
}

//padding-right
.mr-xs {
  margin-right: $xs;
}

.mr-sm {
  margin-right: $sm;
}

.mr-md {
  margin-right: $md;
}

.mr-lg {
  margin-right: $lg;
}

.mr-xl {
  margin-right: $xl;
}

//padding-left
.ml-xs {
  margin-left: $xs;
}

.ml-sm {
  margin-left: $sm;
}

.ml-md {
  margin-left: $md;
}

.ml-lg {
  margin-left: $lg;
}

.ml-xl {
  margin-left: $xl;
}

//padding-bottom
.mb-xs {
  margin-bottom: $xs;
}

.mb-sm {
  margin-bottom: $sm;
}

.mb-md {
  margin-bottom: $md;
}

.mb-lg {
  margin-bottom: $lg;
}

.mb-xl {
  margin-bottom: $xl;
}

//padding-x
.mx-xs {
  margin-right: $xs;
  margin-left: $xs;
}

.mx-sm {
  margin-right: $sm;
  margin-left: $sm;
}

.mx-md {
  margin-right: $md;
  margin-left: $md;
}

.mx-lg {
  margin-right: $lg;
  margin-left: $lg;
}

.mx-xl {
  margin-right: $xl;
  margin-left: $xl;
}

//padding-y
.my-xs {
  margin-top: $xs;
  margin-bottom: $xs;
}

.my-sm {
  margin-top: $sm;
  margin-bottom: $sm;
}

.my-md {
  margin-top: $md;
  margin-bottom: $md;
}

.my-lg {
  margin-top: $lg;
  margin-bottom: $lg;
}

.my-xl {
  margin-top: $xl;
  margin-bottom: $xl;
}
@for $i from 1 through 12 {
  .flex-#{$i} {
    flex: $i;
  }

  .col-#{$i} {
    width: calc(8.33333% * #{$i});
  }
}
%inline,
.inline {
  display: inline;
}

%flex,
.flex {
  display: flex;
}
%flex-row,
.flex-row {
  flex-direction: row;
}
%no-wrap,
.no-wrap {
  flex-wrap: nowrap;
}
%justify-start,
.justify-start {
  justify-content: flex-start;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.h-100 {
  height: 100%;
}

.h-100vh {
  height: 100vh;
}

.d-flex,
%d-flex {
  display: flex;
}
.flex-centered,
%flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.justify-center,
%justify-center {
  justify-content: center;
}

.justify-flex-end,
%justify-center {
  justify-content: flex-end;
}

.align-center,
%align-center {
  align-items: center;
}
%items-center,
.items-center {
  align-items: center;
}

%items-end,
.items-end {
  align-items: flex-end;
}

.align-baseline {
  align-items: baseline;
}

%items-start,
.items-start {
  align-items: flex-start;
}

.align-end,
%align-end {
  align-items: flex-end;
}

%align-between,
.align-between {
  align-content: space-between;
}
%align-evenly,
.align-evenly {
  align-content: space-evenly;
}
.align-start,
%align-start {
  align-items: flex-start;
}

.justify-end,
%justify-end {
  justify-content: flex-end;
}

.justify-between,
%justify-between {
  justify-content: space-between;
}

.justify-around,
%justify-around {
  justify-content: space-around;
}

.justify-evenly,
%justify-evenly {
  justify-content: space-evenly;
}

.flex-wrap,
%flex-wrap {
  flex-wrap: wrap;
}

.align-content-start,
%align-content-start {
  align-content: flex-start;
}

.flex-one,
%flex-one {
  flex: 1;
}

.flex-column,
%flex-column {
  flex-direction: column;
}

.flex-column-reverse,
%flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-row-reverse,
%flex-row-reverse {
  flex-direction: row-reverse;
}

.d-none {
  display: none;
}

.v-hidden {
  visibility: hidden;
}

.flex-1 {
  flex: 1 !important;
}

.flex-2 {
  flex: 2 !important;
}

.flex-3 {
  flex: 3 !important;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.flex-7 {
  flex: 7;
}

.flex-8 {
  flex: 8;
}

.flex-9 {
  flex: 9;
}

.align-self-end {
  align-self: flex-end;
}

.justify-self-end {
  justify-self: flex-end;
}

//image
%image-cover,
.image-cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.contain-center {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

//bullet point
.bullet-point {
  background: $primary-color;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

//
.w-100,
%w-100 {
  width: 100%;
}

.w-20,
%w-20 {
  width: 20%;
}

.w-30,
%w-30 {
  width: 30%;
}

.w-40,
%w-40 {
  width: 40%;
}

.w-80,
%w-80 {
  width: 80%;
}
.w-90,
%w-90 {
  width: 90%;
}

//margins
.my-10px,
%my-10px {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-20px,
%my-20px {
  margin-top: 20px;
  margin-bottom: 20px;
}

.wrapper-padding,
%wrapper-padding {
  padding: $padding-val;
  box-sizing: border-box;
}

.breaker {
  position: relative;

  &::before {
    height: 5px;
    content: "";
    position: absolute;
    top: 100%;
    width: 40px;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.delete_popup {
  padding: 15px;
  p {
    text-align: center;
  }
  .button-area {
    margin-top: 15px;
    button {
      margin-right: 1rem;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}

.search-box {
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 10px 25px;
  display: flex;
  width: 340px;
  align-items: center;
  margin-right: 30px;
  border-radius: $border-radius;
  input {
    flex: 1;
    background: transparent;
    border: none;

    &:active,
    &:focus {
      outline: none;
    }
  }
  .filter-icon {
    position: absolute;
    right: 0;
  }
}

.image-icon {
  width: 24px;
  height: 24px;
}

.box-shadow-none {
  box-shadow: none !important;
}

.cursor-pointer {
  cursor: pointer;
}

.search-area {
  flex-wrap: wrap;
  .filter {
    flex: 1;
    position: relative;
    .suggestion-list {
      display: flex;
      flex-direction: column;
      color: $dark-color;
      width: 100%;
      font-size: 15px;
      overflow-y: scroll;
      overflow-x: hidden;
      left: 0;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),
        0 2px 4px 1px rgba(0, 0, 0, 0.18);
      background-color: #eee;
      margin: 0;
      padding: 0;
      position: absolute;
      z-index: 9999;
      top: 45px;
      border-radius: 5px;
      li {
        opacity: 0.6;
        list-style: none;
        padding: 10px 10px;
        font-size: 15px;
        color: $dark-color;
        cursor: pointer;
        &:hover {
          opacity: 1;
          background-color: $light-dark-color;
        }
      }
      .tooltip .tooltiptext {
        visibility: hidden;
        width: 150px;
        font-size: 15px;
        background-color: black;
        color: $light-color;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 9999;
      }

      .tooltip:hover .tooltiptext {
        visibility: visible;
      }
    }
  }
  @media (max-width: 768px) {
    .filter {
      margin-top: $md;
    }
  }
}

.card-catalog {
  height: 23vh;
  box-sizing: border-box;
  margin-top: 25px;
  .catalog-area {
    padding: 0 20px;
    box-sizing: border-box;
    .catalog-body {
      img {
        width: 20vw;
        height: 20vh;
        object-fit: cover;
      }
    }
    .catalog-content {
      width: 100%;
      display: flex;
      padding: 0 24px;
      justify-content: space-between;
      .catalog-desc {
        font-size: 20px;
        .catalog-title {
          text-transform: capitalize;
          font-weight: bold;
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .card-catalog {
    height: auto;
    .catalog-area {
      padding: 0 0px;
      box-sizing: border-box;
      .catalog-body {
        img {
          width: 30vw;
          height: 20vh;
          object-fit: cover;
        }
      }
      .catalog-content {
        flex-direction: column;
        .catalog-desc {
          font-size: 14px;
        }
      }
    }
  }
}

.blue-color {
  height: 13vh;
  position: absolute;
  top: 0;
  width: 100%;
  background: $primary-color;
}

.page-notfound {
  flex: 1;
  height: 100%;
  padding: 10px 10px;
  img {
    width: 100%;
    object-fit: cover;
  }
}

.button-cursor {
  color: #4e4eef;
  cursor: pointer;
}
.pointer {
  cursor: pointer;
}
.text-primary {
  color: $primary-font-color !important;
}

.text-secondary {
  color: $primary-color !important;
}

.text-dark-light {
  color: $light-dark-color !important;
}

.text-light {
  color: $light-color !important;
}

.bg-primary {
  background: $primary-color !important;
}

h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  font-family: $primary-font;
}

h2 {
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  font-family: $primary-font;
}

h3 {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  font-family: $primary-font;
}

h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  font-family: $primary-font;
}

h5 {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  font-family: $primary-font;
}

h6 {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  font-family: $primary-font;
}

hr {
  border: 1px solid #F9F9F9;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  font-family: $primary-font;
}

.text-decoration-none {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: $primary-color;
  font-family: $primary-font;
  font-size: 1rem;
  &:hover{
    color: $dark-primary;
  }
}

.divider {
  border-bottom: 1px solid $light-dark-color;
  padding: 1rem 0;
}

.position-relative {
  position: relative;
}

.sub-program-title {
  font-weight: bold;
  font-size: $title-size;
  color: $primary-color;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-40 {
  margin-top: 40px;
}

.mr-10 {
  margin-right: 10px;
}

.section-padding {
  padding: 4rem 3rem;
}

.section-margin {
  margin: 4rem 3rem;
}

.error-border {
  border: 1px solid red !important;
}

.active-icon {
  filter: invert(57%) sepia(33%) saturate(728%) hue-rotate(47deg) brightness(89%) contrast(84%);
}

.disabled-icon {
  filter: invert(80%) sepia(2%) saturate(3%) hue-rotate(132deg) brightness(86%) contrast(83%);
}

.avatar {
  object-fit: cover;
}

@media (max-width: 576px) {
  @for $i from 1 through 12 {
    .col-xs-#{$i} {
      width: calc(8.33333% * #{$i});
    }
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      width: calc(8.33333% * #{$i});
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      width: calc(8.33333% * #{$i});
    }
  }
}

.content-description {
  h5{
      font-size: 16px;
  }
  h6{
      font-size: 14px;
  }
  p {
      font-size: 14px;
  }
  table {
    width: 100%;
    font-family: $primary-font;
    border: 0;
  }
  th {
    border-bottom: 1px solid $light-dark-color;
    padding: .5rem 1rem;
  }
  tr:nth-child(even){
    background: #fdfdff;
  }
  td {
    padding: 1rem;
    font-size: 14px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  @for $i from 1 through 12 {
    .col-lg-#{$i} {
      width: calc(8.33333% * #{$i});
    }
  }
}

@media (min-width: 1200px) {
  @for $i from 1 through 12 {
    .col-xl-#{$i} {
      width: calc(8.33333% * #{$i});
    }
  }
}

.divider {
	width:500px;
	text-align:center;
}

.divider-line-x {
  position: relative;
  text-align: center; 
  font-weight: bold;
  font-size: 12px;    
  color: #333;
  border-bottom: 1px solid #ccc;
}

.divider-line-x span {
  position: relative; 
  top: 10px;
  padding: 0 25px;  
  background: #fff;
  font-size: 14px;
  font-family: $primary-font;
}

@media (max-width:445px) {
    .section-margin {
      margin: 2rem 1rem;
    }
    .section-padding {
      padding: 2rem 1rem;
    }
}