

@media (max-width:1200px) {
    .authentication {
        .auth-image {
            width: 100%;
        }
    }
}


@media (max-width:767px) {
    .authentication {
        .auth-img-div {
            display: none;
        }
    }
}