@import '../../../../assets/scss/layout.scss';

.order-summary {
    padding: 1.5rem 1rem;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
    .order-list {
        height: 40vh;
        overflow-y: auto;
        overflow-x: hidden;
        &::-webkit-scrollbar{
            width: 6px;
        }
        &::-webkit-scrollbar-track {
            background: $light-color;
            border-radius: 8px;
          }
          
          /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $light-dark-color;
            border-radius: 8px;
            visibility: hidden;
            transition: .7s ease-in;
        }

        &:hover {
            &::-webkit-scrollbar-thumb {
                visibility: visible;
            }
        }
    }
}

.outer-circle {
    border-radius: 50%;
    border: 1.5px solid #D1D1D1;
    width: 30px;
    height: 30px;
    background-color: "#fff";
    display: flex;
    justify-content: center;
    align-items: center;
    &.active {
        background-color: $primary-color;
    }
    .inner-circle {
        background-color: #fff;
        border-radius: 50%;
        width: 10px;
        height: 10px;
    }
}