@import '../../../../assets/scss/layout.scss';

.profile-tab {
    padding: 1.5rem 1rem;
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    transition: .4s all;
}

.active-tab {
    background: $primary-color;
    color: #fff;
}

//purchases 
.purchases {
    .purchase-detail {
        height: 80vh;
        &::-webkit-scrollbar{
            width: 6px;
        }
        &::-webkit-scrollbar-track {
            background: $light-color;
            border-radius: 8px;
          }
          
          /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $light-dark-color;
            border-radius: 8px;
            visibility: hidden;
            transition: .7s ease-in;
        }

        &:hover {
            &::-webkit-scrollbar-thumb {
                visibility: visible;
            }
        }
        .table {
            .table-header{
               .header-row {
                   th{
                       padding: .75rem;
                       text-align: center;
                   }
               }
            }
        }
    }
}

//cancel-modal
.cancel-content{
    height: 65vh !important;
}

@media (max-width: 460px) {
    .cancel-content {
        height: auto !important;
    }
}

.review-modal {
    height: 80vh !important;
    .modal-body {
        overflow-y: auto;
    }
}

.image {
    position: relative;
    cursor: pointer;
}

.image:after {
    content: '\A';
    position: absolute;
    width: 100px; height:100%;
    border-radius: 50%;
    top:0; left:0;
    background:rgba(129, 129, 129, 0.6);
    background-image: url('https://www.topperstutors.com/img/upload.png');
    background-size: cover;
    opacity: 0;
    transition: all .7s;
    -webkit-transition: all 1s;
}

.profile-avatar {
    width: 100px;
    height: 100px;
    vertical-align: top;
    background-size: cover;
}

.image:hover:after {
    opacity: 1;
}

// .profile-avatar:hover{
//     background: rgba(102, 102, 102, 0.3) 
// }

@media (max-width: 505px) {
    .review-modal {
        height: 80vh !important;
        .modal-body {
            .purchased-products {
                flex-direction: column !important;
            }
        }
    }
}